[submodule "legion"]
	path = legion
	url = ../../StanfordLegion/legion.git
[submodule "cinch-utils"]
	path = cinch-utils
	url = ../cinch-utils.git
[submodule "cinch"]
	path = cinch
	url = ../cinch.git
